In [1]:
import pandas as pd

In [5]:
afgan = pd.read_csv("afghan.csv")
afgan.head()

               Type             Category    Region Attack on
0      Enemy Action          Direct Fire   RC EAST     ENEMY
1   Friendly Action  Cache Found/Cleared   RC EAST    FRIEND
2  Non-Combat Event           Propaganda  RC SOUTH   NEUTRAL
3      Enemy Action          Direct Fire   RC EAST     ENEMY
4   Friendly Action  Cache Found/Cleared   RC EAST    FRIEND

## To examine all events that involve explosive hazards.

In [8]:
hazard = afgan[afgan['Type'] == 'Explosive Hazard']
print('total =',len(hazard))
hazard.head()

total = 23082

                Type            Category    Region Attack on
13  Explosive Hazard       IED Explosion  RC SOUTH     ENEMY
15  Explosive Hazard  Mine Found/Cleared   RC EAST     ENEMY
16  Explosive Hazard       IED Explosion  RC SOUTH     ENEMY
18  Explosive Hazard   IED Found/Cleared   RC EAST     ENEMY
19  Explosive Hazard       IED Explosion  RC SOUTH     ENEMY

## To examine explosive events that involve Improvised Explosive Devices (IEDs).

In [10]:
type(hazard)

pandas.core.frame.DataFrame

In [12]:
IED = hazard[hazard['Category'] == 'IED Explosion']
print('total =',len(IED))
IED.head()

total = 7200

                 Type       Category    Region Attack on
13   Explosive Hazard  IED Explosion  RC SOUTH     ENEMY
16   Explosive Hazard  IED Explosion  RC SOUTH     ENEMY
19   Explosive Hazard  IED Explosion  RC SOUTH     ENEMY
115  Explosive Hazard  IED Explosion   RC EAST     ENEMY
122  Explosive Hazard  IED Explosion   RC EAST     ENEMY